.format-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.format-grid-additional{
    display: grid !important;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}

.format-bg {
    display:grid !important;
    grid-template-rows: 24px 24px 24px 24px 24px 24px;
    width: 200px;
    
    height: max-content;
}

.format-bg-with-remarks{
    display:grid !important;
    grid-template-rows: 24px 24px auto;
    width: auto;
    height: fit-content;
}

.format-bg-add {
    display:grid !important;
    grid-template-rows: 24px 24px 24px 24px 24px;
    width: max-content;
    height: fit-content;
}

.format-box-parent-div{
    width: max-content;
    height:24px;
}

.input-box-parent-div{
    width: 180px;
    height: 24px;
}

.input-box {
    /* background-color: green; */
    font-size: 12px;
    height: 24px;
    max-height: 24px;
    width: max-content;
    /* width: 250px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: scroll;
    border-color: black;
    color: rgb(28, 28, 28);
    border: 1px 1px 1px 1px;
    border-radius: 8px 8px 8px 8px;
}

.remarks-input-box{
    /* None of these height adjustments work for the actual field. */
    color: rgb(28, 28, 28);
    font-size: 12px;
    width: max-content;
    overflow-x: auto !important;
    overflow-y: auto !important;
    resize: none;
    height: 75px !important;
    max-height: 75px !important;
    border-radius: 8px 8px 8px 8px;
}

.o_form_label_override{
    font-size: 12px;
    height: 24px;
    max-height: 24px;
    white-space: nowrap;
    overflow-x: auto;
    color : black;

    display:flex;
    justify-content: start;
    align-items: center;
    
}

.readonly-bg{
    background-color: #F2F2F2;
    color: rgb(51, 51, 51);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 4px;
}

.readonly-black{
    color:black;
}

.readonly{
    color : grey;
    display:flex;
    justify-content: start;
    align-items: center;
}

.header-display{
    display:grid;
    grid-template-columns: 250px 250px;
    background-color: goldenrod;
}

.header-subheader{
    background-color: greenyellow;
}

.report-header{
    font-size: 150px;
}

.report-below-header{
    font-size: 24px;
}