@page{
    // size: A4 portrait;
    width: 21cm;
    height:29.7cm;
    margin : 0.2cm;
    // background-color: greenyellow;
    // margin: 0px;
}

.page{
    // size: A4 portrait;
    // background-color: blueviolet;
    height: 27cm;
    // margin: 15px;
    // display: flex;
    // flex-direction: column;
}

.top-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 2px;
}

.top-header-box{
    border-style: solid;
    border-width: 2px;
    height: 2cm;
    width: 200px;
    display: grid;
    align-items: center;
}

.top-header-arrange{
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-header-arrange div{
    font-size: 8px;
}


div{
    font-size: 12px;
}

.main-body{
    // background-color: greenyellow;
    border-style: solid;
    border-width: 2px;
    padding : 0px;
    margin : 0px;
    height: 26cm;
    // height: 800px;
    // display: flex;
    // flex-direction: column;
    display:grid;
    grid-template-rows: 13% 3% min-content 10% auto 12%;
}

.gap{
    // background-color: aquamarine;
    border: solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;

}

.header{
    // background-color : #e0e0e0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    // height: 10%;
}

.header-side-left{
    // background-color: rgb(189, 153, 151);;
    display: grid;
    grid-template-rows: 60% 40%;
    padding: 10px;
}

.header-side-right{
    // background-color : rgb(184, 184, 184);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    justify-content: center;
}

.our-company-name{
    font-size : 18px;
    font-weight : bold;
}

.their-company-name{
    font-weight : bold;
    font-size: 12px;
}

.header-side-right-info{
    display: grid;
    grid-template-columns: 30px 40px 100px;
    width: fit-content;
}

.header-side-right div{
    height: 20px;
}

.sideright-alignright{
    text-align: end;
    margin-right: 8px;
}

.mid-title{
    font-weight : bold;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    margin-top: 8px;
    margin-bottom: 4px;

    padding: 0px;
    height: min-content;
}

.table-style{
    border-style : solid;
    // border-color: black;
    border-width: 0px;
    border-color: black;
    // border-left-width: 0px;
    // border-right-width: 0px;
    border-bottom-width: 4px;
    border-collapse : collapse;
    max-width: 100%;
    width: 100%;

    margin: 0px;
}

.table-style-leftmost{
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    border-width: 2px;
    border-left-width: 0px;
    margin: 0px;
}

.table-style-rightmost{
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    border-width: 2px;
    border-right-width: 0px;
    margin: 0px;
}

.table-regular{
    border-style: solid;
    border-width: 2px;;
    border-color: black;
    border-collapse: collapse;

    margin: 0px;
}

.table-header-left{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    border-collapse: collapse;

    border-left-width: 0px;
    margin: 0px;
}

.table-header-right{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    border-collapse: collapse;

    border-right-width: 0px;
    margin: 0px;
}

.table-header-reg{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    border-collapse: collapse;

    margin: 0px;
}

.table-style thead tr th{
    // border-style: solid;
    // border-width: 2px;
    // border-color: black;
    // text-align: center;
    // border-collapse: collapse;

    // margin: 0px;
}

.table-style tbody tr td{
    // border-style: solid;
    // border-width: 2px;;
    // border-color: black;
    // border-collapse: collapse;

    margin: 0px;
}

.hr-bold{
    height: 2px;
    border-width: 0px;
    color: black;
    background-color: black;
}


.summary-receiving{
    margin-top: 2cm;
    display: grid;
    grid-template-rows: 0.5cm;
    width: stretch;
}

.summary{
    // background-color: green;
    display: grid;
    grid-template-rows: 1fr;
    // align-items: right;
    // justify-content: right;
    width: stretch;
}

.summary-container{
    // background-color: bisque;
    display:flex;
    flex-direction: row-reverse;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    padding-right: 3px;

    
}

.summary-container-end{
    margin:0px;
    padding: 0px;
    // background-color: purple;
    // display: flex;
    // flex-direction: row;
    padding-left: 20px;
    padding-right: 3px;
    display: grid;
    grid-template-columns: auto auto 300px;
    height: fit-content;
    width: max-content;
}

.the-summary{
    margin: 0px;
    padding : 0px;
    display: grid;
    grid-template-columns: 36% 22% 5% 38%;
}

.summary-presentation{
    margin: 0px;
    padding: 0px;
    // background-color: grey;
    width: max-content;
    display: grid;
    // grid-template-columns: 30% 32% 5% 33%;
    grid-template-columns: 300px;
    width: 300px;
    height:fit-content;
    align-items: right;
    justify-content: right;
    text-align: end;
}

.hr-padding-margin{
    margin: 0px;
    padding: 0px;
}


.additional{
    // background-color: bisque;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.additional-rows{
    display : grid;
    width: 200px;
    grid-template-rows: 1fr;
}

.additional-info{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 4px;
}

.additional-info div{
    font-size: 10px;
}

.handsign-space{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 120px;
}

.handsign-arrangement{
    padding: 5px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: 80% 20%;
    width: auto;
    
}