<div>
    <!--  This will divide the row into two partitions -->
    <!-- Company, Recipient/Vendor name | No. and Date: -->
    <div class = "top-header">
        <div class = "top-header-box">
            <div class = "top-header-arrange">
                <div style = "font-weight: bold; text-align: center;">No Dokumen</div>
                <div>:</div>
            </div>
            <div class = "top-header-arrange">
                <div style = "font-weight: bold; text-align: center;">No Revisi</div>
                <div>:</div>
            </div>
            <div class = "top-header-arrange">
                <div style = "font-weight: bold; text-align: center;">Tgl Berlaku</div>
                <div>:</div>
            </div>
            <div class = "top-header-arrange">
                <div style = "font-weight: bold; text-align: center;">Hal</div>
                <div>:</div>
            </div>
        </div>
    </div>

    <div class = "main-body">
        <div class = "header"> 
            <div class = "header-side-left">
                <div>
                    <div class = "our-company-name">
                        PT. INDOGUNA UTAMA
                    </div>
                    <div>
                        Jl. Taruna No. 8 Pondok Bambu Jakarta Timur - Indonesia
                    </div>
                </div>
                <div>
                    <div class = "their-company-name">
                        {{ name }}
                    </div>
                    <div>
                        Kawasan GHC Blok CC no. 5 Kota Deltamas Kec. CIkarang Pusat, Jawa Barat.
                    </div>
                </div>
            </div>
            <div class = "header-side-right">
                <div class = "header-side-right-info">
                    <div style="font-weight: bold;">No.</div>
                    <div class = "sideright-alignright">:</div>
                    <div>{{ po_number }}</div>
                    <div style = "font-weight: bold;">Date.</div>
                    <div class = "sideright-alignright">:</div>
                    <div>25-03-2026</div>
                </div>
            </div>
        </div>
        
        <div class="mid-title">
            PURCHASE ORDER
        </div>
    
        <table class = "table-style">
            <thead>
                <tr>
                    <th rowspan="2" style = "width: 35%"><strong>DESCRIPTION</strong></th>
                    <th colspan="2" style = "width: 20%">ORDER QUANTITY</th>
                    <th rowspan="2" style = "width: 10%"><strong>EST</strong></th>
                    <th rowspan="2" style = "width: 15%"><strong>UNIT PRICE</strong></th>
                    <th rowspan="2" style = "width: 15%"><strong>TOTAL VALUE</strong></th>
                </tr>
                <tr>
                    <th ><strong>Supplier UOM</strong></th>
                    <th ><strong>Our UOM</strong></th> 
                </tr>
            </thead>
            <tbody>
                {% for item in purchase_data %}
                <tr>
                        <td>{{ purchase_data[item]["description"] }}</td>
                        <td>{{ purchase_data[item]["quantity"] }}</td>
                        <td>{{ purchase_data[item]["quantity"] }}</td>
                        <td>NIL</td>
                        <td>IDR {{ purchase_data[item]["price"] }}</td>
                        <td>
                            <div style = "display: grid; grid-template-columns: 1fr 1fr;">
                                <div>
                                    IDR
                                </div>
                                <div style="border: none; text-align: end;">
                                    {{ purchase_data[item]["total"] }}
                                </div>
                            </div>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class = "summary">
            <div class = "summary-container">
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div>Sub Total</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ sub_total }}</div>
                    </div>
                    
                    <div class = "the-summary">
                        <div>Discount</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ discount }}</div>
                    </div>
                </div>
            </div>
            
            <hr/>
            
            <div class = "summary-container">
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div>Total</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total }}</div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class = "summary-container">
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div>Tax</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ tax }}</div>
                    </div>
    
                    <div class = "the-summary">
                        <div>By Shipment</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
    
                    <div class = "the-summary">
                        <div>Inland Fuel</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
                    
                    <div class = "the-summary">
                        <div>Sticker Free</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
                    
                    <div class = "the-summary">
                        <div>Ocean Fuel</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
    
                    <div class = "the-summary">
                        <div>GST</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class = "summary-container-end">
                <div style="font-weight: bold;">GRAND TOTAL</div>
                <div style="font-weight: bold;">400.00 CTN</div>
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div>Grand Total</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ grand_total }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>