<div class = "page">

    <div class = "real-header">
        <div class = "top-header">
            <div class = "top-header-box">
                <div class = "top-header-arrange">
                    <div style = "font-weight: bold; text-align: center;">No Dokumen</div>
                    <div>:</div>
                </div>
                <div class = "top-header-arrange">
                    <div style = "font-weight: bold; text-align: center;">No Revisi</div>
                    <div>:</div>
                </div>
                <div class = "top-header-arrange">
                    <div style = "font-weight: bold; text-align: center;">Tgl Berlaku</div>
                    <div>:</div>
                </div>
                <div class = "top-header-arrange">
                    <div style = "font-weight: bold; text-align: center;">Hal</div>
                    <div>:</div>
                </div>
            </div>
        </div>
        
        <div class = "header"> 
            <div class = "header-side-left">
                <div>
                    <div class = "our-company-name">
                        PT. INDOGUNA UTAMA
                    </div>
                    <div class = "our-company-address">
                        Jl. Taruna No. 8 Pondok Bambu Jakarta Timur - Indonesia
                    </div>
                </div>
                <div>
                    <div class = "their-company-name">
                        {{ vendor_name }}
                    </div>
                    <div class = "their-company-address">
                        {{ vendor_location }}
                    </div>
                </div>
            </div>
            <div class = "header-side-right">
                <div class = "header-side-right-info">
                    <div style="font-weight: bold;" class = "header-right-text">No.</div>
                    <div class = "sideright-alignright header-right-text">:</div>
                    <div class = "header-right-text" >{{ po_number }}</div>
                    <div style = "font-weight: bold;" class = "header-right-text">Date.</div>
                    <div class = "sideright-alignright header-right-text">:</div>
                    <div class = "header-right-text">{{ date }}</div>
                    <div style = "font-weight: bold;" class = "header-right-text">Page</div>
                    <div class = "sideright-alignright header-right-text">:</div>
                    <div> 
                        <span class = "show-counter header-right-text"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mid-title">
            PURCHASE ORDER
        </div>
    </div>

    <div class = "real-footer">
        <div class = "header-gap"></div>
        <div class="additional">
            <div class = "additional-rows">
                <div class = "additional-info">
                    <div style="font-weight: bold;">PI No</div>
                    <div>:</div>
                    <div>{{ pi_no }}</div>
                </div>
                <div class = "additional-info">
                    <div style="font-weight: bold;">INVOICE No.</div>
                    <div>:</div>
                    <div>{{ invoice_no }}</div>
                </div>
                <div class = "additional-info">
                    <div style="font-weight: bold;">Cont. / Awb No</div>
                    <div>:</div>
                    <div>{{ cont_awb_no }}</div>
                </div>
                <div class = "additional-info">
                    <div style="font-weight: bold;">VESSEL</div>
                    <div>:</div>
                    <div>{{ vessel }}</div>
                </div>
                <div class = "additional-info">
                    <div style="font-weight: bold;">ETA JKT</div>
                    <div>:</div>
                    <div>{{ eta_jkt }}</div>
                </div>
                <div class = "additional-info">
                    <div style="font-weight: bold;">Dated</div>
                    <div>:</div>
                    <div>{{ dated }}</div>
                </div>
            </div>
           <div class = "handsign-arrangement">
                <!-- <div style="font-size: 10px; font-weight: bold;">Warehouse Manager</div>
                <div class = "handsign-space">
                    <div style="text-align: left;">(</div>
                    <div style="text-align: right;">)</div>
                </div> -->
            </div>
            <div class = "handsign-arrangement">
                <div style="font-size: 10px; font-weight: bold;">Procurement Manager</div>
                <div class = "handsign-space">
                    <div style="text-align: left;">(</div>
                    <div style="text-align: right;">)</div>
                </div>
            </div>
        </div>
    </div>

    <div class = "main-body">

        <table class = "table-style">
            <thead class = "table-header">
                <tr>
                    <th class = "table-header-left" rowspan="2" style = "width: 35%; max-width: 35%;"><strong>DESCRIPTION</strong></th>
                    <th class = "table-header-reg" colspan="2" style = "width: 20%">ORDER QUANTITY</th>
                    <th class = "table-header-reg" rowspan="2" style = "width: 10%"><strong>EST</strong></th>
                    <th class = "table-header-reg" rowspan="2" style = "width: 300px"><strong>UNIT PRICE</strong></th>
                    <th class = "table-header-right" rowspan="2" style = "width: 300px"><strong>TOTAL VALUE</strong></th>
                </tr>
                <tr>
                    <th style = "width: 10%;" class = "table-header-reg"><strong>Supplier UOM</strong></th>
                    <th style = "width: 10%;" class = "table-header-reg"><strong>Our UOM</strong></th> 
                </tr>
            </thead>
            <tbody class  = "table-page-break-inside">
                {% for item in purchase_data %}
                    <tr class = "table-page-break-after">
                            <td class = "table-style-leftmost">{{ purchase_data[item]["description"] }}</td>
                            <td class = "table-regular table-center-text">{{ purchase_data[item]["supplier_uom"] }}</td>
                            <td class = "table-regular table-center-text">{{ purchase_data[item]["supplier_uom"] }}</td>
                            <td class = "table-regular table-center-text">NIL</td>
                            <td class = "table-regular table-pad-right-4px">
                                <div style = "display: grid; grid-template-columns: 1fr 1fr;">
                                    <div>IDR</div>
                                    <div style="border: none; text-align: end;">
                                        {{ purchase_data[item]["price"] }}
                                    </div>
                                </div>
                            </td>
                            <td class = "table-style-rightmost">
                                <div style = "display: grid; grid-template-columns: 1fr 1fr;">
                                    <div>
                                        IDR
                                    </div>
                                    <div style="border: none; text-align: end;">
                                        {{ purchase_data[item]["total"] }}
                                    </div>
                                </div>
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class = "summary">
            <div class = "summary-container">
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Sub Total</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ sub_total }}</div>
                    </div>
                    
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Discount</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ discount }}</div>
                    </div>
                </div>
            </div>
            
            <hr class ="hr-padding-margin"/>
            
            <div class = "summary-container">
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Total</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total }}</div>
                    </div>
                </div>
            </div>

            <hr class ="hr-padding-margin"/>

            <div class = "summary-container">
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Tax</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ tax }}</div>
                    </div>
    
                    <div class = "the-summary">
                        <div style="font-weight: bold;">By Shipment</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
    
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Inland Fuel</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
                    
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Sticker Free</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
                    
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Ocean Fuel</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
    
                    <div class = "the-summary">
                        <div style="font-weight: bold;">GST</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ total_before_disc }}</div>
                    </div>
                </div>
            </div>

            <hr class ="hr-padding-margin"/>

            <div class = "summary-container-end">
                <div style="font-weight: bold;">GRAND TOTAL</div>
                <div style="font-weight: bold;">400.00 CTN</div>
                <div class = "summary-presentation">
                    <div class = "the-summary">
                        <div style="font-weight: bold;">Grand Total</div>
                        <div>:</div>
                        <div>IDR</div>
                        <div>{{ grand_total }}</div>
                    </div>
                </div>
            </div>

            <hr class ="hr-padding-margin"/>
        </div>
        
    </div>
</div>