<div class = "req-page">
    
    <div class = "real-header">

        <div class = "topheader">
            <div class = "topheader-left">
                <div>LOGO HERE</div>
                <!-- <img src={{ logo_path }} style ="width: 5cm; height: 5cm;"/> -->
            </div>
            <div class = "topheader-right">
                <div class = "topheader-arrange">
                    <div>No. Dokumen</div>
                    <div class = "th-colon">:</div>
                    <div>{{ document_no }}</div>
                </div>
                <div class = "topheader-arrange">
                    <div>No.Revisi</div>
                    <div class = "th-colon">:</div>
                    <div>{{ revision_no }}</div>
                </div>
                <div class = "topheader-arrange">
                    <div>Tgl.Berlaku</div>
                    <div class = "th-colon">:</div>
                    <div>{{ valid_date }}</div>
                </div>
                <div class = "topheader-arrange">
                    <div>Halaman</div>
                    <div class = "th-colon">:</div>
                    <div class = "show-counter"></div>
                </div>
            </div>
        </div>

        <div class = "bottomheader">
            <div class = "topheader-info-date">
                <div>
                    <div style = "font-weight: bold">PT. INDOGUNA UTAMA</div>
                    <div>Jl. Taruna No.8</div>
                    <div>Jakarta Timur</div>
                </div>
                <div>
                    <div>Jakarta, {{ date }}</div>
                </div>
            </div>
            <div class = "topheader-affiliated">
                <div class = "topheader-aff-grid">
                    <div class =  "topheader-aff-grid-part">
                        <div>1.</div>
                        <div>{{ affiliated_one }}</div>
                        <div class = "box"></div>
                        <div>2.</div>
                        <div>{{ affiliated_two }}</div>
                        <div class = "box"></div>
                    </div>
                    <div class =  "topheader-aff-grid-part" style = "margin-left: 0.4cm;">
                        <div>3.</div>
                        <div>.................................</div>
                        <div class = "box"></div>
                        <div>4.</div>
                        <div>.................................</div>
                        <div class = "box"></div>
                    </div>
                </div>
                <div></div>
            </div>
            <div class = "topheader-title">
                FORM PERMINTAAN
            </div>
        </div>

    </div>

    <div class=  "real-footer">
        <div></div>
        <div class = "ft-right">

            <table class="ft-table">
                <thead>
                    <tr>
                        <th class = "ft-table-header ft-table-content">Pemohon</th>
                        <th class="ft-table-header ft-table-content ft-table-rightmost">Menyetujui</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 1.5cm">
                        <td class = "ft-table-content"></td>
                        <td class = "ft-table-content ft-table-rightmost"></td>
                    </tr>
                    <tr style="height: 0.5cm">
                        <td class = "ft-table-content"></td>
                        <td class = "ft-table-content ft-table-rightmost"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class = "main-body">
        <div class = "mb-table-parent">
            <table class = "mb-table">
                <thead>
                    <tr>
                        <th>NO</th><th>UNIT</th><th>DEPT.</th><th>QTY</th><th>ESTIMATE PRICE</th>
                    </tr>
                </thead>
                <tbody class = "mb-table-body">
                    {% if request_data == false %}
                        <tr class = "empty-placeholder">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% else %}
                        {% for i in request_data %}
                        <tr class = "table-row tb-break-after">
                            <td style = "font-weight: bold; text-align: center; width:4%">{{ request_data[i]["no"] }}</td>
                            <td>{{ request_data[i]["unit"] }}</td>
                            <td style = "width: 10%">{{ request_data[i]["dept"] }}</td>
                            <td style = "width: 7%">{{ request_data[i]["qty"] }}</td>
                            <td>{{ request_data[i]["est_price"] }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>